

body{
   background-color: hsl(330, 100%, 98%);
   display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Outfit' ;
    font-size: 16px;
    color:     hsl(30, 10%, 34%);
}



.container{
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 20px;
    width: 50vw;
    display: flex; 
    flex-direction: column;
    justify-content: center;

    
}
h1{
    color: hsl(24, 5%, 18%);
    font-family: 'Young Serif';
    font-weight: 400;
}
h2{
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif';
    font-weight: 400;
    
}
h3{
    color: hsl(332, 51%, 32%);
    
}


hr{
    border: 1px solid hsl(30, 18%, 87%);
}
header img{
    width:100%;
    border-radius:10px;
}

.bande{
background-color: hsl(330, 100%, 98%);
padding:2%;
border-radius: 10px;
}

.subtext{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

table{
    width: 100%;
    border-collapse: collapse;
    
    
}
td {
    border: solid hsl(30, 18%, 87%) 2px ;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding: 10px 0 10px 0;
}

.end{
    border-bottom: 0;
}
ul, ol{
    padding-left: 1rem;
}

li{
    padding-bottom: 10px;
    padding-left: 1rem;   

}

.list-purple li::marker {
    
    color: hsl(332, 51%, 32%);
}

.list-brown li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }



.thead{
    font-weight: bold;
}

@media (max-width: 1000px) {
    .container{
        width:80vw;
    }
    body{
        margin-top: 0;
    }

}